.prompt {
    padding: 0.1em 0.2em 0.1em 0.2em;
}

@media all and (max-width: 1280px) {
    .prompt {
        font-size: 12px;
    }
  }

@media all and (max-width: 720px) {
    .prompt {
        font-size: 10px;
    }
  }

@media all and (max-width: 500px) {
    .prompt {
        font-size: 8px;
    }
}