.prompt {
    padding: 0.1em 0.2em 0.1em 0.2em;
}

@media all and (max-width: 1280px) {
    .prompt {
        font-size: 13px;
    }
}

@media all and (max-width: 720px) {
    .prompt {
        font-size: 12px;
    }
}

@media all and (max-width: 510px) {
    .prompt {
        font-size: 11px;
    }
}