.button_to_hided {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: relative;
    padding-top: 10px;
}

.icon_to_hided {
    width: 36px;
    height: 36px;
    filter: brightness(80%)
}

.icon_to_hided:hover {
    filter: brightness(100%)
}

.prompt_hided {
    display: none;
    position: absolute;
    left: -4em;
    bottom: 2.5em;
    z-index: 1;
}

.prompt_hided {
    border: 1px solid black;
    border-radius: 0.7em;
    background-color: white;
}

.button_to_hided:hover .prompt_hided {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 1280px) {
    .icon_to_hided {
        width: 30px;
        height: 30px;
    }

    .prompt_hided {
        left: -3.7em;
        bottom: 2.5em;
    }
}

@media all and (max-width: 800px) {
    .icon_to_hided {
        width: 24px;
        height: 24px;
    }

    .prompt_hided {
        left: -3.2em;
        bottom: 1.8em;
    }
}

@media all and (max-width: 500px) {
    .icon_to_hided {
        width: 20px;
        height: 20px;
    }

    .prompt_hided {
        left: -2.6em;
        bottom: 1.7em;
    }
}