.return_block {
    float: right;
    margin: 0.7% 1% 1% 1%;
  }

.return_block {
    overflow: hidden;
}

.return_block {
    transition: 0.5s; 
 }

.return_block:hover {
    transform: scale(1.3); 
 }