

.alert_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    background-color: rgb(255, 124, 124, .3);
    border: none;
    border-radius: 10px;
    color: rgb(158, 92, 92);
    cursor: default;
  }

  .alert_content {
    width: 90%;
    margin: 0;
    padding-left: 1%;
    padding-top: 1%;
    word-wrap: break-word;
  }

  @media all and (max-width: 720px) {
    .alert_content {
        font-size: 13px;
    }
  }

  @media all and (max-width: 510px) {
    .alert_content {
        font-size: 12px;
    }
  }