.buttons_route {
    width: 50px;
    position: fixed;
    top: 40%;
    right: 0;
}

.buttons_route {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.buttons_route {
    padding-top: 10px;
}