.button_to_closed {
    width: 100%;
    display: relative;
    padding-top: 10px;
}

.icon_to_closed {
    width: 36px;
    height: 36px;
    filter: brightness(80%)
}

.icon_to_closed:hover {
    filter: brightness(100%)
}

.prompt_closed {
    display: none;
    position: absolute;
    left: -5.5em;
    bottom: -0.5em;
    z-index: 1;
}

.prompt_closed {
    border: 1px solid black;
    border-radius: 0.7em;
    background-color: white;
}

.button_to_closed:hover .prompt_closed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}