.name_block {
    width: 85%;
    text-align: justify;
    word-wrap: break-word;
    padding-top: 1.5%;
  }

  @media all and (max-width: 720px) {
    .name_block {
        font-size: 13px;
    }
  }

  @media all and (max-width: 510px) {
    .name_block {
        font-size: 12px;
    }
  }