.img {
    margin: 1% 1% 1% 1%;
  }

.icon {
    width: 20px;
    height: 20px;
}

@media all and (max-width: 720px) {
  .icon {
      width: 14px;
      height: 14px;
  }
}

@media all and (max-width: 510px) {
  .icon {
      width: 13px;
      height: 13px;
  }
}